<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resume</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
  </head>

  <style>
    body {
      background: grey;
      position: absolute;
      top: 0; bottom: 0;
      right: 0; left: 0;
      margin: 0; padding: 0;
    }

    body > * {
      background: white;
    }

    #resume {
      width: 210mm;
      height: 297mm;
      margin: 5mm auto;
      box-shadow: 0 3mm 3mm rgba(0,0,0,0.5);
    }
  </style>

  <style media="print">
    #resume { margin: 0; }
  </style>

  <body>
    <div id="resume">
      <header>
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
      </header>

      <main>
        <div class="sideboard">
          <div>
            <h4>{{ side.info.title }}</h4>
            <template v-for="item in side.info.list">
              <h6>{{ item.label }}</h6>
              <p v-html="item.text"></p>
            </template>
          </div>

          <div v-for="skillset in side.skills" class="bottom">
            <h4>{{ skillset.title }}</h4>
            <template v-for="skill in skillset.list">
              <h6>{{ skill.label }}</h6>
              <p v-html="skill.text"></p>
            </template>
          </div>
        </div>

        <div class="dotted-line" style="line-height: 0; overflow: hidden;">
          <img v-for="i in 300" src="dotted-line.svg">
        </div>

        <div class="content">
          <div v-for="part in main">
            <h3>{{ part.title }}</h3>
            <table v-if="part.isTable">
              <tr v-for="item in part.list">
                <td>{{ item.date }}</td>
                <td>
                  <h5>{{ item.label }}</h5>
                  <p v-html="item.text"></p>
                </td>
              </tr>
            </table>
            <template v-else>
              <template v-for="item in part.list">
                <h5>{{ item.label }}</h5>
                <p v-html="item.text"></p>
              </template>
            </template>
          </div>
        </div>
      </main>

      <footer></footer>
    </div>
  </body>

  <script src="data-fr.js" charset="utf-8"></script>
  <script type="text/javascript">
    new Vue({ el: '#resume', data })
  </script>

</html>
