// ===============================
//  ~ Colors
// ===============================
$white: #ffffff; // #F2F2F2;
$dark-red: #730217;
$light-red: #bf0426;
$dark-gray: #262626;
$light-gray: #595959;

// ===============================
//  ~ Fonts
// ===============================
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One|Quicksand&display=swap");

// ===============================
//  ~ Typography
// ===============================
.text {
  font-family: "Quicksand";
  color: $light-gray;
  font-size: 10pt;
  margin: 0;
}

.title,
h3,
h4 {
  @extend .text;
  color: $dark-red;
  margin-bottom: 4pt;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1pt solid $light-red;
}

h3 {
  font-size: 13pt;
}

.subtitle,
h5,
h6 {
  @extend .text;
  color: $dark-gray;
  font-weight: bold;
}

p {
  @extend .text;
  margin-bottom: 4pt;
}

// ===============================
//  ~ Layout
// ===============================
#resume {
  display: grid;
  grid-template-areas:
    "header header header header header header header"
    ". . . . . . ."
    ". sidebar . separator . main ."
    ". . . . . . ."
    "footer footer footer footer footer footer footer";
  grid-template-rows: 35mm 10mm auto 10mm 10mm;
  grid-template-columns: 10mm 2fr 7.5mm 0 7.5mm 7fr 10mm;

  @extend .text;
}

// = HEADER ===
header {
  grid-area: header;
  background: $dark-gray;

  color: $white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1,
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
  }

  h1 {
    font-family: "Hammersmith One";
    font-size: 32pt;
  }

  h2 {
    letter-spacing: 5pt;
    font-size: 14pt;
  }
}

// = MAIN ===
.sideboard {
  grid-area: sidebar;

  display: flex;
  text-align: right;
  flex-direction: column;

  padding: 5mm 0;

  div {
    font-size: 13pt;
    flex: 1;
    &.bottom {
      font-size: 11pt;
      margin-top: 5mm;
      flex: 0;
    }
  }
}

.dotted-line {
  grid-area: separator;
  border-right: 1pt solid $dark-red;
}

.content {
  grid-area: main;
  overflow: hidden;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    & > p,
    & > h5 {
      margin-left: 5mm;
    }

    table {
      width: 100%;
      tr > td:nth-child(1) {
        text-align: right;
        padding-right: 5mm;
        vertical-align: top;
        width: 22mm;
        @extend h5;
      }
      tr > td:nth-child(2) {
        width: 100mm;
      }
    }
  }

  ul {
    margin: 0;
    padding-left: 15pt;
    list-style-type: circle;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: 50%;
  }
}

// = FOOTER ===
footer {
  grid-area: footer;
  background: $dark-gray;
}
