// ===============================
//  ~ Fonts
// ===============================
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

// ===============================
//  ~ Colors
// ===============================
$indigo: #3F51B5;
$black: #000000;

// ===============================
//  ~ Typography
// ===============================
.text {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  font-size: 10pt;
  color: $black;
}

.title {
  @extend .text;
  font-weight: bold;
  color: $indigo;
}

// ===============================
//  ~ Layout
// ===============================
#resume {
  padding: 15mm;
  @extend .text;
}

h1, h2, h3, h4, h5, h6 {
  @extend .title;
  margin: 0;
}

h1, h2 {
  text-align: center;
}

h1 { font-size: 32pt; }
h2 { font-size: 20pt; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }
h5 { font-size: 11pt; }
h6 { font-size:  9pt; }

h4 {
  border-bottom: 1pt solid;
}

p {
  @extend .text;
  margin-top: 0;
}

.description {
  font-style: italic;
  text-align: center;
  margin: 10pt 32pt;
  opacity: 0.95;
}
